In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime, time

In [24]:
df = pd.read_excel('data/2.id_market.xlsx')
del df['Регион, область']
del df['Город/р-н/пос.']
del df['Метро']
del df['Адрес']
df['Кластер'] = [int(i.lstrip('Кластер Северо-Запад ').split()[0]) for i in df['Кластер']]
df

C:\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:296: UserWarning: Failed to load a conditional formatting rule. It will be discarded. Cause: expected <class 'openpyxl.worksheet.cell_range.MultiCellRange'>
  warn(msg)

       SAP  № магазина  Кластер
0     3400        3207        3
1     3401        3353        4
2     3402        4467       21
3     3403        4428       19
4     3404        4461        9
...    ...         ...      ...
1590  Y878       12777        5
1591  Y908       12847        9
1592  Y911       12656       13
1593  Y970       11875        8
1594  Y971       10624        6

[1595 rows x 3 columns]

In [25]:
df.to_excel('new_data/id_market_edit.xlsx', encoding='utf-8')