In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np 
import datetime, time

In [21]:
df_reference = pd.read_excel('../data/6.reference.xlsx')
# удаляем не нужные столбцы

del df_reference['Unnamed: 22']
del df_reference['Unnamed: 23']
del df_reference['Unnamed: 24']
del df_reference['Unnamed: 25']
del df_reference['Unnamed: 26']
del df_reference['Unnamed: 27']
del df_reference['Unnamed: 28']
del df_reference['Unnamed: 29']
del df_reference['Unnamed: 30']
del df_reference['Unnamed: 31']
del df_reference['Unnamed: 32']
del df_reference['Unnamed: 33']
del df_reference['Unnamed: 34']
del df_reference['Unnamed: 35']

In [22]:
df_reference[:2]

,Код магазина,SAP,№ маг,SAP МВП,ЦФО ВРС,Кластер нов,Наименование магазина,Дата открытия,Дата закрытия,Адрес,...,Форма собственности (Терентьев),Рестайлинг дата закрытия,Рестайлинг дата открытия,Рестайлинг вид,Город,Улица,"Утвержденный РТО, руб./день.",Статус объекта,Алкоотдел,БЕ
0,698540,7083,8540,13CT7083,13CT7083,Кластер Северо-Запад 08 Тверь-Восток,"8540-Пятерочка_г.Тверь, Веселова ул., 25",2005-06-07,NaT,"170003, Тверская обл, Тверь г, Веселова ул, до...",...,Аренда,2014-10-26 00:00:00,2014-11-10,Реконструкция 2014,г.Тверь,"г.Тверь, Веселова ул., 25 н.п.I",470558.777377,Открыт,нет,Копейка-М.О. ООО
1,698573,7084,8573,13CT7084,13CT7084,Кластер Северо-Запад 07 Тверь-Центр,"8573-Пятерочка_г.Тверь, 50-лет Октября ул., 3 Б",2005-12-27,NaT,"Тверская обл, Тверь г, 50 лет Октября пр-кт, д...",...,Аренда,2020-03-09 00:00:00,2020-04-01,реконструкция 2020,г.Тверь,"г.Тверь, Николая Корыткова пр-кт, 3Б",463090.334319,Открыт,да,Копейка-М.О. ООО

In [23]:
df_reference[['SAP', '№ маг', 'ЦФО ВРС','Город','Улица']]

,SAP,№ маг,ЦФО ВРС,Город,Улица
0,7083,8540,13CT7083,г.Тверь,"г.Тверь, Веселова ул., 25 н.п.I"
1,7084,8573,13CT7084,г.Тверь,"г.Тверь, Николая Корыткова пр-кт, 3Б"
2,7005,8169,13CT7005,г.Конаково,"г.Конаково, Энергетиков ул., 28"
3,7006,8251,13CT7006,г.Конаково,"г.Конаково, Фаянсовый завод ул., 13"
4,6993,8244,13CT6993,г.Калязин,"г.Калязин, Коминтерна ул., 51/14"
...,...,...,...,...,...
1718,33K3,20974,E1045872,г.Апатиты,"г.Апатиты, Ферсмана ул, 39"
1719,33OH,14011,E1046348,г.Псков,"г.Псков, Яна Райниса ул, 22Б"
1720,33VX,21646,E1047555,г.Сегежа,"г.Сегежа, Антикайнена ул, 11"
1721,33XK,21687,E1047771,г.Санкт-Петербург,"г.Санкт-Петербург, Королёва пр-кт, 7 л.А,ч.п7-Н"
1722,33XL,21714,E1047777,г.Санкт-Петербург,"г.Санкт-Петербург, Ленинский пр-кт, 128 к.2,л.А"

In [26]:
df_table = pd.read_excel('../data/2.id_market.xlsx')
df_table[:3]

C:\Users\Kirill.Shvab\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:296: UserWarning: Failed to load a conditional formatting rule. It will be discarded. Cause: expected <class 'openpyxl.worksheet.cell_range.MultiCellRange'>
  warn(msg)

,SAP,№ магазина,Кластер,"Регион, область",Город/р-н/пос.,Метро,Адрес
0,3400,3207,Кластер Северо-Запад 03 Псков,Псковская область,Псков,нет,"ПО, г. Псков, Ленинградское ш., д. 20"
1,3401,3353,Кластер Северо-Запад 04 Новгород,Новгородская область,д. Трубичино,нет,"НО, Трубичинское сельское поселение, д. Трубич..."
2,3402,4467,Кластер Северо-Запад 21 Апатиты,Мурманская область,Мончегорск,нет,"МО, г.Мончегорск,Бредова ул.,30"

In [28]:
s1 = set(df_table['SAP'])
s2 = set(df_reference['SAP'])

In [33]:
df_reference[['SAP', '№ маг', 'ЦФО ВРС','Город','Улица']].to_excel('../new_data/2_id_market_edit.xlsx',index=False)