In [38]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime, time

In [39]:
df_grill = pd.read_excel('data/4.sells.xlsx',sheet_name='Гриль')
df_cookies = pd.read_excel('data/4.sells.xlsx',sheet_name='Выпечка')
del df_grill['Кластер'] 
del df_grill['Unnamed: 9']
del df_cookies['Unnamed: 9']
df_grill['Магазин'] = [int(i.split()[0]) for i in df_grill['Магазин']]
df_cookies['Магазин'] = [int(i.split()[0]) for i in df_cookies['Магазин']]
df_cookies['Кластер'] = [int(i.lstrip('Кластер Северо-Запад').split()[0])for i in df_cookies['Кластер']]

## Таблица продаж Гриля

In [40]:

df_grill

,Завод,Магазин,МАР 2021. количество,МАР 2021. оборот в руб,АПР 2021 количество,АПР 2021 оборот в руб,МАЙ 2021 количество,МАЙ 2021 оборот в руб
0,3425,4376,95.0,17186.86,NaN,NaN,NaN,NaN
1,3443,4615,115.0,13429.39,NaN,NaN,NaN,NaN
2,3462,4741,473.0,57434.10,436.0,41401.97,NaN,NaN
3,5633,390,83.0,13883.01,NaN,NaN,NaN,NaN
4,5638,397,532.0,95738.42,489.0,88317.12,595.0,111155.45
...,...,...,...,...,...,...,...,...
452,Q616,7138,282.0,68273.37,291.0,70796.83,313.0,75394.62
453,S389,10532,385.0,92594.72,348.0,84252.64,394.0,95397.73
454,X997,11744,204.0,49060.68,217.0,52827.77,215.0,52002.05
455,X997,11744,204.0,49060.68,217.0,52827.77,215.0,52002.05
456,Y616,12575,149.0,35590.92,NaN,NaN,NaN,NaN

## Таблица продаж Выпечки

In [41]:
df_cookies

,Кластер,Завод,Магазин,МАР 2021. количество,МАР 2021. оборот в руб,АПР 2021 количество,АПР 2021 оборот в руб,МАЙ 2021 количество,МАЙ 2021 оборот в руб
0,1,3446,4812,17602.0,574655.72,15800.0,534915.44,18157.0,607640.45
1,1,5597,347,NaN,NaN,2105.0,68316.89,13756.0,455440.84
2,1,5619,373,18571.0,603490.15,18035.0,599422.21,18945.0,616167.15
3,1,5631,388,20976.0,673531.53,21388.0,701030.75,21815.0,701697.90
4,1,5633,390,NaN,NaN,8639.0,285258.20,15946.0,533906.49
...,...,...,...,...,...,...,...,...,...
491,21,4199,5282,2857.0,104798.23,3440.0,126365.73,4319.0,157258.81
492,21,D256,10349,5887.0,208645.82,4669.0,171154.38,5042.0,177429.45
493,21,H024,12489,6949.0,251576.72,6311.0,236387.16,7885.0,286956.70
494,21,J173,9109,9797.0,350782.44,9447.0,345182.35,4852.0,175102.02
495,21,O683,15618,3087.0,105350.90,3290.0,121039.42,4101.0,148774.51

In [43]:
df_cookies.to_excel('new_data/sells_cookies_edit.xlsx', encoding='utf-8',index=False)
df_grill.to_excel('new_data/sells_grill_edit.xlsx', encoding='utf-8',index=False)