In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime, time

In [10]:
df_march = pd.read_excel('data/3.budget.xlsx',sheet_name='март')
df_april = pd.read_excel('data/3.budget.xlsx', sheet_name='апрель')
df_may = pd.read_excel('data/3.budget.xlsx',sheet_name='май')

book_budget_march = dict(zip(df_march['Завод'],df_march['Сумма']))
book_budget_april = dict(zip(df_april['Завод'], df_april['Сумма']))
book_budget_may = dict(zip(df_may['Завод'],df_may['Сумма']))

df_id_market = pd.read_excel('new_data/id_market_edit.xlsx')
df_march

C:\Python39\lib\site-packages\openpyxl\worksheet\_reader.py:296: UserWarning: Failed to load a conditional formatting rule. It will be discarded. Cause: expected <class 'openpyxl.worksheet.cell_range.MultiCellRange'>
  warn(msg)

     Завод                                Кластер         Сумма
0     3400          Кластер Северо-Запад 03 Псков   9483.857576
1     3401       Кластер Северо-Запад 04 Новгород   8179.136599
2     3402        Кластер Северо-Запад 21 Апатиты   9239.872589
3     3403       Кластер Северо-Запад 19 СПБ-Охта   6018.693677
4     3404    Кластер Северо-Запад 09 Тверь-Запад  10196.493016
...    ...                                    ...           ...
1558  Y878          Кластер Северо-Запад 05 Тосно   7270.936995
1559  Y908    Кластер Северо-Запад 09 Тверь-Запад   5891.330885
1560  Y911  Кластер Северо-Запад 13 СПБ Юго-Запад   7108.872875
1561  Y970   Кластер Северо-Запад 08 Тверь-Восток   8580.830905
1562  Y971   Кластер Северо-Запад 06 Великие Луки   8083.632056

[1563 rows x 3 columns]

In [11]:
sap = df_id_market['SAP']
num_market = df_id_market['№ магазина']
book_mark_to_sap = dict(zip(num_market,sap))
book_sap_to_mark = dict(zip(sap,num_market))
temp_df = pd.DataFrame()

In [12]:
def if_in_market_budget(sap_arr):
    arr = []
    for i in sap_arr:
        if book_sap_to_mark.get(i)!= None:
            arr.append(book_sap_to_mark.get(i))
    return arr

# Пересеченеи множеств месяцев. Мы должны прогнозировать те месяца, которые имеют бюджеты по 3 месяцам  (без указания пустого бюджета)
s1 = set(if_in_market_budget(df_march['Завод']))
s2 = set(if_in_market_budget(df_april['Завод']))
s3 = set(if_in_market_budget(df_may['Завод']))

general_array_market = s1.intersection(s2).intersection(s3)
print(len(set(df_id_market['SAP']).intersection(general_array_market)))

38

In [13]:

temp_df['Магазин'] = if_in_market_budget(general_array_market)
temp_df['SAP'] = [book_mark_to_sap[i] for i in temp_df['Магазин']]
temp_df[:5]

   Магазин   SAP
0     2141  8198
1     2499  8360
2     2325  8555
3     3426  9100
4      281  9124

In [14]:
temp_df['Расчет бюджета март'] = [book_budget_march[i] for i in temp_df['SAP']]
temp_df['Расчет бюджета апрель'] = [book_budget_april[i] for i in temp_df['SAP']]
temp_df['Расчет бюджета май'] = [book_budget_may[i] for i in temp_df['SAP']]

In [15]:
temp_df

,Магазин,SAP,Расчет бюджета март,Расчет бюджета апрель,Расчет бюджета май
0,2141,8198,4928.328680,5177.117856,4889.328425
1,2499,8360,10130.237180,8725.247330,4291.663870
2,2325,8555,12033.341107,13309.522252,13664.940659
3,3426,9100,8315.624763,6733.709693,6055.151492
4,281,9124,17017.788388,10782.155471,13794.027884
5,2438,9142,8766.432513,4594.568148,4403.474880
6,3399,9174,8887.986165,7205.673936,7063.322979
7,3353,3401,8179.136599,6247.952976,6052.120181
8,4581,3411,25170.603313,27401.607367,25010.593094
9,4608,3416,8667.200392,4274.147098,4303.593273
10,4724,3428,3962.565438,4359.188840,4011.910169
11,4933,3453,3917.176000,4022.538488,3879.886452
12,3024,8876,9546.515175,3788.669763,3777.866366
13,5156,4013,9876.392059,3051.516997,3654.293183
14,5300,4524,9874.058524,10170.175235,9249.093117
15,97,5487,7635.713912,8545.702369,7579.120968
16,477,6624,7936.300426,4147.955964,4028.041919
17,83,5478,13350.565777,14728.894296,12911.940091
18,106,5494,29564.202517,25673.969775,16507.149454
19,328,5581,26748.942785,25540.568968,22570.174107
20,344,5594,9458.007716,3317.140152,4736.320267
21,422,5683,19532.547297,17082.738511,15683.568776
22,426,5684,15717.052757,10340.578311,10894.213599
23,431,5685,18655.314318,18178.659263,10811.768283
24,607,5694,8975.397295,9421.437917,9122.330506
25,924,5724,6424.886528,6841.919705,2985.626362
26,475,6450,13614.035730,10298.105629,9698.785531
27,481,7312,4798.494176,5470.707873,4924.617125
28,489,7313,7866.957703,6198.019775,5658.449236
29,419,7474,5939.324175,6533.478396,6139.323247
30,581,7476,9509.680421,7563.959681,7019.383884
31,598,7534,6876.699054,6965.758692,6493.069870
32,759,7586,8623.009735,9291.947602,8198.134733
33,980,7602,6884.222086,7273.291021,6822.827869
34,985,7739,5135.998375,6344.958124,6069.387757
35,852,7855,9992.123905,11004.384772,4792.160540
36,484,7856,10284.811798,4826.914912,4659.748763
37,102,7857,12173.740591,10314.244436,9651.987542

In [16]:
temp_df.to_excel('new_data/budget_edit.xlsx', encoding='utf-8')